[Desktop Entry]
Encoding=UTF-8
Version=1.0
Type=Application
X-Nemo-Application-Type=generic
Name=Dewpoint calculator
Icon=harbour-dewpointcalc
Exec=harbour-dewpointcalc
